.login-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container {
  position: fixed;
  top: 20%;
  background: linear-gradient(rgba(14, 6, 6, 0.534)) ,url('/images/login-form-background.jpg') no-repeat center center/cover;
  width: 600px;
  height: 600px;
  margin: auto;
  display: none;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 15px;
  padding-top: 150px;
  position: relative;

  & .login-title {
    color: #F7204A;
    font-size: 2.5rem;
    letter-spacing: 2.5px;
  }

  & label {
    font-size: 1.5rem;
    color: white;
  }

  & input {
    font-size: 1.2rem;
    padding: 10px 5px;
    border-radius: 5px;
    width: 60%;
  }

  & .btn-login-submit {
    text-align: center;
    width: 60%;
    font-size: 1.4rem;
    color: #F7204A;
    cursor: pointer;
    margin-top: 20px;
    padding: 10px 15px;
    border: 1px solid black;
    border-radius: 5px;
    transition: 0.4s ease;

    &:hover {
      background: #F467B1;
      color: black;
      border: 1px solid black;
      border-radius: 15px;
    }
  }

  & .btn-close-form {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    font-size: 1.2rem;
    border: none;
    background: none;
    letter-spacing: 2px;
    color: white;
    cursor: pointer;
  }
}

.animate {
  animation: animatezoom 0.6s;
}

@keyframes animatezoom {
   from {transform: scale(0)}
   to {transform: scale(1)} 
}
